
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form action="/Formula/General" method="post" class="caption">
    <label>Ingrese el valor de A:</label>
    <input type="number" name="a" id="a" />

    <label>Ingrese el valor de B:</label>
    <input type="number" name="b" id="b"/>

    <label>Ingrese el valor de C:</label>
    <input type="number" name="c" id="c"/>

    <input type="submit" value="Enviar" name="enviar" />
</form>

