
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form action="/Zodiaco/Persona" method="get">
    <label>Día:</label>
    <input type="number" name="dia" id="dia"/>

    <label>Mes:</label>
    <input type="number" name="mes" id="mes"/>

    <input type="submit" value="Enviar" name="enviar"/>
</form>

